<% var title = 'DataWarehouse | Dashboards' %>
<% path = 'portals' %>
<% include ../partials/dochead %>
	<link rel="stylesheet" href="${leo.static.uri}css/portals.css" />
<body class="leo-style theme-body-default">
	<div id="DashboardExplorer"></div>
	<script src="${leo.static.uri}js/portals.js"></script>
</body>
</html>
