<% var title = 'DataWarehouse | Data Explorer' %>
<% path = 'builder' %>
<% include partials/dochead %>
	<link rel="stylesheet" href="${leo.static.uri}css/leo.css" />
	<link rel="stylesheet" href="${leo.CustomCSS}" />
<body class="leo-style theme-body-default">
	<div id="main"></div>
	<script src="${leo.static.uri}js/leo.js"></script>
</body>
</html>
