<% var title = 'DataWarehouse | Visual Explorer' %>
<% path = 'chart' %>
<% include partials/dochead %>
	<link rel="stylesheet" href="${leo.static.uri}css/charts.css" />
<link rel="stylesheet" href="${leo.CustomCSS}" />
<body class="leo-style theme-body-default">
	<div id="VisualExplorer"></div>
	<script src="${leo.static.uri}js/charts.js"></script>
  </body>
</html>
