<% var title = 'LeoInsights | Dashboard' %>
<% path = 'dashboard' %>
<% include partials/dochead %>
<link rel="stylesheet" href="${leo.CustomCSS}" />
<body>
	<% include partials/header %>
	<% include partials/nav %>
	<div id="main" class="content-wrapper">

		<h1>Dashboard</h1>

		<!-- link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/cdnleo/leo-style.css" />

		<script src="https://s3-us-west-2.amazonaws.com/cdnleo/dashboard.0.3.js"></script>
		<script>
			LeoDash.init({
				endpoint:  "http://rocksolid-124826114.us-west-2.elb.amazonaws.com:8080/",
				key: '48bd3f84-abd7-4335-8038-833a9942236d'
			});

			//window.useredshift = false;

		</script>

		<div class="leo-insights">

			<div class="leo-align-center">

				<section
					data-title="Airbill value"
					class="leo-chart-1-2"
					data-canned-report="cumulativeTimeSeries"
					data-metric="f_webship.cost|sum"
					data-dimension="d_carrier.name"
					data-stack="true"
					data-period = "year_over_year",
					data-periods="12"
				></section>

			</div>

		</div -->


		<h2>Coming Soon</h2>




	</div>
	<% include partials/footer %>
</body>
</html>
