<% var title = 'LeoInsights | Profile' %>
<% path = 'profiles' %>
<% include partials/dochead %>
<link rel="stylesheet" href="${leo.CustomCSS}" />
<body>
	<% include partials/header %>
	<% include partials/nav %>
	<div id="main" class="content-wrapper">

		<h1>Profile</h1>

		<form class="uk-form" method="post">
			<div class="form-row">
				<label>Username</label>
				<span></span>
			</div>
			<div class="form-row">
				<label>Password</label>
				<input placeholder="enter new password" type="password" name="password" />
			</div>
			<div class="form-row">
				<label>Confirm Password</label>
				<input placeholder="confirm new password" type="password" name="confirm" />
			</div>
			<div class="form-row text-right" style="color: white;">
				<label></label>
				<input type="submit" class="uk-button uk-button-primary" value="Update" />
			</div>
		</form>

	</div>
	<% include partials/footer %>
</body>
</html>
