<% var title = 'LeoInsights | Users' %>
<% path = 'users' %>
<% include partials/dochead %>
<link rel="stylesheet" href="${leo.CustomCSS}" />
<body>
	<% include partials/header %>
	<% include partials/nav %>
	<div id="main" class="content-wrapper">

		<h1>Users</h1>

		<table class="uk-table uk-table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th class="action-column"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>test</td>
					<td>
						<i class="fa fa-remove" title="delete"></i>
					</td>
				</tr>
			</tbody>
		</table>

		<button class="uk-button uk-button-primary pull-center">new user</button>

	</div>
	<% include partials/footer %>
</body>
</html>
